{% extends "base.html" %}

{% block content %}
  <h2>Your Courses</h2>
  <p><a href ="{{('all_courses')}}" class="btn">Add Courses</a></p>

  <table>
    <tr>
      <th>Course Name</th>
      <th>Teacher</th>
      <th>Time</th>
      <th>Students Enrolled</th>
    </tr>

    {% for itme in my_courses %}

    <tr>
      <td>{{item.course.name}}</td>
      <td>{{item.teacher.name}}</td>
      <td>{{item.course.time}}</td>
      <td>{{item.count}}/{{item.course.capacity}}</td>
    </tr>

    {% endfor %}
    
  </table>

{% endblock %}
